@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 97vw;
}

div > video {
     width: 97vw;
     height: 60vh;
}

header {
    background-image: linear-gradient(to top, orange, black );
}