@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

main {
    width: 97vw;
    background-color: rgba(0, 0, 0, 0.336);
}

div > video {
     width: 97vw;
     height: 60vh;
}

header {
    background-image: linear-gradient(to top, rgba(255, 166, 0, 0.651), black );
  
}

header > h1, p {
    font-size: 25px;
}

main > article > p {
    font-size: 20px;
}