@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
   margin: 0px;
   padding: 0px;
   font-family: "Sriracha", serif;
}

body {
   background-image: linear-gradient(60deg, #E57EF2, #A93BD9, #601BA6, #1A0859, #0D0D0D);
}

img#imagem {
      text-align: center;
      border-radius: 70%;
      width: 150px;
      padding-top: 5px;
}

header {
      height: 300px;
      margin-bottom: 4px;
}

header > h1, p {
      text-shadow: 3px 3px 3px  rgba(0, 0, 0, 0.473);
      
}

header > h1 {
    font-size: 45px;
    color: white;
    text-align: center;
}

header > p {
      text-align: center;
      color: white;
      padding-top: px;
      font-style: bolder;
      font-size: 30px;
   
 }

main {
   background-color: black;
   margin: auto;
   width: 77vw;
   border-radius: 8px 8px 8px 8px;
   margin-bottom: 10px;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

main > article > p {
    font-size: 20px;
    padding: 5px;
    color: white;
    padding: 15px;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
}

div > video {
    width: 77vw;
    height: 60vh;
}

footer {
   background-color: black;
}

footer > p {
    color: white;
    text-align: center;
    font-size: 25px;
}

footer > h1 {
   color: white;
   text-align: center;
   font-size: 25px;
}

footer > ul {
   color: white;
   text-align: center;
   list-style-position: inside;
   columns: 2;
   font-size: 20px;
}

.personalizado {
   padding-top: 10px;  
   color: white;
   text-align: center;
}

.imagem2:hover {
  transform: translate(-3px, -3px);
  box-shadow: 5px 5px 10px rgba(132, 4, 158, 0.705);
  transition: transform 0.3s;
  transition: border 1s;
  border-radius: 20px;
}